<a href="https://colab.research.google.com/github/Meghaaana/2216105/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. Implement the methods of String with examples.

In [ ]:
str1="The SUNSET is beautiful"
print(str1.upper())
print(str1.lower())
print(str1.swapcase())
print(str1.title())

print(str1.capitalize())

print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

THE SUNSET IS BEAUTIFUL
the sunset is beautiful
tHE sunset IS BEAUTIFUL
The Sunset Is Beautiful
The sunset is beautiful
The SUNSET is beautiful
The SUNSET is beautiful
The SUNSET is beautiful

2. Implement the methods of List with examples.

In [ ]:
lis1=[2,4,6,8]

lis1.append(5)
print(lis1)

lis1.extend([10,12,14,16])
print(lis1)

lis1.insert(2,4.2)
print(lis1)

del lis1[5]
print(lis1)

del lis1[0:5]
print(lis1)

lis1.pop()
print(lis1)

lis1.clear()
print("list elements:",lis1)

l11=["desert rose","aphrodite","butter","tomboy","aphrodite","somebody","mean it","comethru","aphrodite"]
print("list elements:",l11)

print(l11.count("aphrodite"))

print(len(l11))

print(l11[::-3])

l11.reverse()
print(l11)

l11.sort()
print(l11)

[2, 4, 6, 8, 5]
[2, 4, 6, 8, 5, 10, 12, 14, 16]
[2, 4, 4.2, 6, 8, 5, 10, 12, 14, 16]
[2, 4, 4.2, 6, 8, 10, 12, 14, 16]
[10, 12, 14, 16]
[10, 12, 14]
list elements: []
list elements: ['desert rose', 'aphrodite', 'butter', 'tomboy', 'aphrodite', 'somebody', 'mean it', 'comethru', 'aphrodite']
3
9
['aphrodite', 'somebody', 'butter']
['aphrodite', 'comethru', 'mean it', 'somebody', 'aphrodite', 'tomboy', 'butter', 'aphrodite', 'desert rose']
['aphrodite', 'aphrodite', 'aphrodite', 'butter', 'comethru', 'desert rose', 'mean it', 'somebody', 'tomboy']

3. Implement the methods of Tuple with examples.

In [1]:
t1=(1,2,3,4,'apple','mango','banana',2,3,2)
print(t1)
print(t1.count(2),'times 2 value repeated in the tuple')
print('The index of mango is :', t1.index('mango'))
(1, 2, 3, 4, 'apple', 'mango', 'banana', 2, 3, 2)
3 times 2 value repeated in the tuple
The index of mango is : 5

SyntaxError: ignored

4.Implement the methods of dictionary with examples

In [2]:
bd={'name':'raja','age':20,'phnno':9121323530}
print(bd)

print(bd.keys())

print(bd.values())

bd.pop('name')
print(bd)

bd.popitem()
print(bd)
x=bd.copy()
print(x)

x.update({'address':'warangal'})
print(x)

print(x.items())

x.clear()
print(x)

{'name': 'raja', 'age': 20, 'phnno': 9121323530}
dict_keys(['name', 'age', 'phnno'])
dict_values(['raja', 20, 9121323530])
{'age': 20, 'phnno': 9121323530}
{'age': 20}
{'age': 20}
{'age': 20, 'address': 'warangal'}
dict_items([('age', 20), ('address', 'warangal')])
{}

5.Implement the methods of sets with examples

In [3]:
s={1,2,3,'ramesh',3.5,4}
p={}
print(s)
s.add(5)
print(s)
l=(3,5.6,'ramesh')
print(s.union(l))

print(s.intersection(l))

print(s.difference(l))

s.remove('ramesh')

s.update({25,'ramesh'})

{1, 2, 3.5, 3, 4, 'ramesh'}
{1, 2, 3.5, 3, 4, 5, 'ramesh'}
{1, 2, 3.5, 3, 4, 5, 'ramesh', 5.6}
{3, 'ramesh'}
{1, 2, 3.5, 4, 5}

In [ ]:
6.)Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [4]:
num=int(input("Enter a number:"))
print(bin(num))
print(oct(num))
print(hex(num))

Enter a number:5
0b101
0o5
0x5

Q7) Implement Arithmetic operators with examples

In [5]:
a=int(input("Enter a number:"))
b=int(input("Enter a number:"))
print(a+b)
print(abs(a-b))
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

Enter a number:10
Enter a number:5
15
5
50
2.0
0
100000
2

Q8) Implement Assignment operators with examples.

In [6]:
x=58
y=40
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x/=3
print(x)
x%=3
print(x)
y//=3
print(y)
y**=3
print(y)

58
61
58
174
58.0
1.0
13
2197

Q9) Implement Comparison operators with examples.

In [7]:
x1="yes"
y1="no"
print(x1==y1)
print(x1!=y1)
print(x1>y1)
print(x1<y1)
print(x1>=y1)
print(x1<=y1)

False
True
True
False
True
False

Q10) Implement Logical operators with examples.

In [8]:
a1=11
b1=5
print(a1==5 and b1==11)
print(a1==11 or b1==5)
print(not a1==b1)

False
True
True

Q11)Implement Bitwise operators with examples

In [9]:
c=1
d=2
print(c==23 & d==46)
print(c&d)
print(c==25|d==20)
print(c&d)
print(c^d)
print(~c)
print(c>>2)
print(d<<2)

False
0
False
0
3
-2
0
8

Q12)Implement Membership operators with examples.

In [10]:
st1="hello world"
print('h' in st1)
print('p' in st1)
print("llo" in st1)
print('h' not in st1)
print('a' not in st1)
print("llo" not in st1)

True
False
True
False
True
False

Q13)Implement Identity operators with examples

In [11]:
e=96
f='11'
print(e is f)
print(e is not f)

False
True

Q14)Demonstrate Negative indexing for List and apply slicing.

In [12]:
l1=[1,2,3,4,5,46,'raja']
# negative indexing
print(l1[-1])
print(l1[-7])
print(l1[-4])
#slicing
print(l1[1:])
print(l1[:])
print(l1[::-1])

raja
1
4
[2, 3, 4, 5, 46, 'raja']
[1, 2, 3, 4, 5, 46, 'raja']
['raja', 46, 5, 4, 3, 2, 1]

Q15)Predict the output for the given code snippet and justify the result.

In [13]:
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
#[::-1] it is for reversing and [4::3] it starts from 4 th index with step size as 3
print("------------")
print( 'welcome to Python traing program'[3:10][::-1])
#[3:10] it starts from 3 rd index and stops at 10 th index and the it will reverse the string

taawkcbe  tgestrcoeeA
------------
ot emoc

Q16)Write a python code to get desired output; Input string : p_phrase = "was it a car or a cat I saw"; Output string : WAS I TAC A RO RAC A TI SAW

In [14]:
p_phrase="was it a car or a cat I saw"
str22=p_phrase.upper()
print(str22[::-1])

WAS I TAC A RO RAC A TI SAW

Q17). You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [15]:
x=int(input("Enter a number="))
y=2*x
print('x=',x)
print('y=',y)
print('Z'*x,'O'*y,sep='')

Enter a number=8
x= 8
y= 16
ZZZZZZZZOOOOOOOOOOOOOOOO